<h1><%= Book.human_attribute_name(:edit_page) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to I18n.t('button.show'), @book %> |
  <%= link_to I18n.t('button.back'), books_path %>
</nav>
