<h1><%= Book.human_attribute_name(:edit_book) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to Book.human_attribute_name(:show_book), @book %> |
  <%= link_to Book.human_attribute_name(:back_books), books_path %>
</nav>
