<h1><%= I18n.t('editing book') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to I18n.t('show this book'), @book %> |
  <%= link_to I18n.t('back to books'), books_path %>
</nav>
